body{
    background-color: black;
}
.sidebar {
    margin:0;
    padding: 9px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 220px;
    background-color: #1c0036;
    color:#ffbb00 ;
    top:0;
    left:0;
    z-index: 1;
}
.sidebar img{
    padding-bottom: 10px;
}
.sidebar a{
    text-decoration: none;
    color: #ffbb00;
    line-height: 1.5;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    box-sizing: border-box;
}
.sidebar a:hover{
    background: #670dbb;
}
.line{
    height: 1px;
    background-color:rgb(132, 0, 255) ;
    margin-top: 5px;
    width: 90%;
    margin: 6px auto 6px auto;
}
.funfact h3{
    margin:auto;
    text-align: center;
}
.funfact p{
    font: 6px;
    color: black;
    background-color: #ffbb00;
    border: solid 1px black;
    box-shadow:1px 1px 2px 2px rgb(132, 0, 255);
}
.main{
    margin-left:229px;
}
.adult{
    display: inline-block;
}
.adult h2{
    text-align: center;
    font-size: 40px;
    font-family: 'Bungee', cursive;
    color: white;
}
.songlist{
    list-style: none;
}
.songlist li{
    padding:15px 0px 15px 15px;
    margin-left: 30px;
    width: 16.6%;
    width: 180px;
    height: 230px;
    float: left;
    margin-top: 8px;
    margin-bottom: 10px;
    margin-top: var(--spacing-1x);
    border-radius: 25px;
}
.songlist li:hover{
    background-color: #333;
}
.songlist img{
    height: 170px;
    width: 170px;
    display: flex;
}
.songname{
    display: block;
    font-size: 14px;
    line-height: 1.4;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:white;
}
.songwriter{
    font-size: 13px;
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: normal;
    color: white;
}
.children{
    display: inline-block;
}
.children h2{
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 40px;    
    font-family: 'Bungee', cursive;
    color: white;
}
