body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(26, 26, 26);
}

/* h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
    color: rgb(255, 89, 29);
    background-color: rgb(81, 0, 156);
    padding: 50px;
    text-transform: uppercase;
} */
.p1 {
    position: relative;
    top: -33px;
}

.img1 {
    position: absolute;
    width: 650px;
    left: 150px;
    top: 190px;
}

.img2 {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 750px;
}

.text1 {
    position: absolute;
    left: 870px;
    top: 220px;
}

.text1 h1 {
    font-size: 50px;
    font-family: 'Bungee', cursive;
    color: rgb(255, 180, 41);
}

.h1 {
    position: absolute;
    top: 60px;
}

.text1 p {
    font-family: sans-serif;
    color: rgb(255, 214, 168);
    font-size: 25px;
    font-weight: 600;
    margin-right: 100px;
}

.p2 {
    position: relative;
    top: 900px;
}

.p2 .img3 {
    width: 1250px;
    position: absolute;
    right: 0px;
}

.p2 .img4 {
    width: 430px;
    position: absolute;
    right: 890px;
    top: -70px;
}

.p2 h1 {
    font-size: 50px;
    font-family: 'Bungee', cursive;
    color: rgb(255, 255, 255);
}

.text2 {
    position: absolute;
    top: 40px;
    right: 100px;
    left: 540px;
}

.text2 p {
    font-family: sans-serif;
    font-weight: 600;
    color: rgb(255, 239, 195);
    font-size: 30px;
}

.p3 {
    text-align: center;
    position: relative;
    top: 1800px;
    background-color: rgb(0, 0, 0);
    /* border-radius: 50px;
    margin: 0px 50px; */
}

.p3 h1 {
    text-align: center;
    font-family: 'Bungee', cursive;
    font-size: 50px;
    color: rgb(255, 255, 255);

}

.imgbox1 img,
.imgbox2 img {
    width: 300px;
    text-align: center;
    padding: 50px;
}

.p4 {
    padding-bottom: 600px;
    position: relative;
    top: 2100px;
    display: flex;
    background-color: rgb(70, 70, 70);
}

.price1 img,
.price2 img {
    width: 200px;
    padding: 20px;
}

.price1,
.price2 {
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    display: flex;
    margin-left: 70px;
    position: absolute;
    top: 150px;
}

.price2 {
    left: 680px;
}

.textbox1,
.textbox2 {
    margin-right: 50px;
}

.p4 h1 {
    color: rgb(255, 217, 0);
    font-family: 'Bungee', cursive;
}

.p4 h2 {
    color: rgb(255, 255, 255);
    font-family: 'Bungee', cursive;
    position: absolute;
    top: 30px;
    font-size: 50px;
}

.p4 p {
    font-family: sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 180px;
}

.texth1 {
    position: absolute;
    top: 0px;
    left: 600px;
}

.p4 a {
    font-family: sans-serif;
    font-weight: 600;
    color: rgb(255, 208, 0);
    position: absolute;
    top: 320px;
    background-color: rgb(24, 24, 24);
    padding: 20px 50px;
    border-radius: 20px;
}

.p5 {
    position: relative;
    top: 2300px;
    background-color: rgb(39, 39, 39);
    padding-bottom: 560px;
}

.p5 img {
    width: 1000px;
    position: absolute;
    left: 210px;
}

.p5 h1 {
    color: rgb(31, 31, 31);
    font-family: 'Bungee', cursive;
    position: absolute;
    top: 60px;
    font-size: 30px;
    left: 570px;
    margin-right: 300px;
}
.p5 p{
    color: rgb(255, 247, 177);
        font-family:sans-serif;
        position: absolute;
        top: 200px;
        font-size: 35px;
        left: 570px;
        margin-right: 350px;
        font-weight: 600;
}
